{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>CSV Heatmap</h2>
    <div class="plot-container">
        <img src="data:image/png;base64,{{ plot_url }}" alt="CSV Heatmap">
    </div>
    <form action="{{ url_for('csv_handler.delete_csv', filename=session['uploaded_file']) }}" method="post">
        <button type="submit" class="btn delete-button">Delete File</button>
    </form>
    <button onclick="history.back()" class="btn">Back to Process CSV</button>
</div>
{% endblock %}
